body
{
color:white;
background-color:green;
}
h1
{
font-family: elephan;
}
h2
{
font-family: arial;
}
h3
{
font-family: calibri;
}
h4
{
font-family: verdana;
}
h5
{
font-family: times new roman;
}
h6
{
font-family: consolas;
}
h7
{
font-family: corbel;
}
